<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="our-story-card unlimited__movies">section1</section>
    <section class="our-story-card enjoy__tv">section2</section>
    <section class="our-story-card download__shows">section3</section>
    <section class="our-story-card watch__everywhere">section4</section>
    <section class="our-story-card create__profiles">section5</section>
    <section class="our-story-card faqs">section6</section>
    <section
      class="our-story-card footer our-story-card-no-border"
      style="position: relative"
    >
      <div class="site-footer-wrapper">
        <div class="site-footer">
          <p class="footer-top">
            Questions? Call
            <a class="footer-top-a" href="tel:000-800-919-1694"
              >000-800-919-1694</a
            >
          </p>
          <ul class="footer-links structural">
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>FAQ</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Help Centre</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Account</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Media Centre</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Investor Relations</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Jobs</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Ways to Watch</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Terms of Use</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Privacy</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Cookie Preferences</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Corporate Information</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Contact Us</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Speed Test</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Legal Notices</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Only on Netflix</span></a
              >
            </li>
          </ul>
          <select class="language">
            <option value="/kw/">Hindi</option>
            <option value="/kw-en/">English</option>
          </select>
          <p class="footer-country">Netflix India</p>
        </div>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>
