<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="our-story-card unlimited__movies">section1</section>
    <section class="our-story-card enjoy__tv">section1</section>
    <section class="our-story-card download__shows">section1</section>
    <section class="our-story-card watch__everywhere">section1</section>
    <section class="our-story-card create__profiles">section1</section>
    <section class="our-story-card faqs">section1</section>
    <section class="footer"></section>
    <script src="script.js"></script>
  </body>
</html>
