<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone App</title>
    <link rel="stylesheet" href="style.css" />
    <!--TAB ICON-->
    <link rel="icon" href="../public/images/tab-icon.png" />
    <!--Styling file-->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!--HEADER SECTION START-->
    <header class="showcase our-story-card">
      <!--NAV BAR-->
      <nav class="showcase-top">
        <img id="logo" src="../public/images/logo.png" />
        <button type="submit" class="submit">Sign In</button>
        <select>
          <option value="/kw/">Hindi</option>
          <option value="/kw-en/">English</option>
        </select>
      </nav>
      <!--Get started-->
      <div class="get-started-container">
        <h1>Unlimited movies, TV<br />shows and more.</h1>
        <p class="para-1">Watch anywhere. Cancel anytime.</p>
        <p class="para-2">
          Ready to watch? Enter your email to create or restart your membership.
        </p>
        <input type="text" name="email" placeholder="Email Address" />
        <button type="submit">Get Started ></button>
      </div>
    </header>
    <!--HEADER SECTION END-->

    <section class="our-story-card enjoy__tv">section2</section>
    <section class="our-story-card download__shows">section3</section>
    <section class="our-story-card watch__everywhere">section4</section>
    <section class="our-story-card create__profiles">section5</section>
    <section id="faq" class="our-story-card faq-card">
      <div class="our-story-card-text">
        <h1 class="our-story-card-title">Frequently Asked Questions</h1>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-question">
              What is Netflix?
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="thin-x"
                viewBox="0 0 26 26"
                class="svg-icon svg-icon-thin-x svg-closed"
                focusable="true"
                width="26"
                height="26"
              >
                <path
                  d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
            </button>
            <div class="faq-answer closed">
              <span
                >Netflix is a streaming service that offers a wide variety of
                award-winning TV shows, movies, anime, documentaries and more –
                on thousands of internet-connected devices.</span
              >
              <br />
              <span
                >You can watch as much as you want, whenever you want, without a
                single ad – all for one low monthly price. There's always
                something new to discover, and new TV shows and movies are added
                every week!</span
              >
            </div>
          </li>
          <li class="faq-list-item">
            <button class="faq-question">
              How much does Netflix cost?
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="thin-x"
                viewBox="0 0 26 26"
                class="svg-icon svg-icon-thin-x svg-closed"
                focusable="true"
                width="26"
                height="26"
              >
                <path
                  d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
            </button>
            <div class="faq-answer closed">
              <span
                >Watch Netflix on your smartphone, tablet, Smart TV, laptop, or
                streaming device, all for one fixed monthly fee. Plans range
                from ₹ 149 to ₹ 649 a month. No extra costs, no contracts.</span
              >
            </div>
          </li>
          <li class="faq-list-item">
            <button class="faq-question">
              Where can I watch?
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="thin-x"
                viewBox="0 0 26 26"
                class="svg-icon svg-icon-thin-x svg-closed"
                focusable="true"
                width="26"
                height="26"
              >
                <path
                  d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
            </button>
            <div class="faq-answer closed">
              <span
                >Watch anywhere, anytime. Sign in with your Netflix account to
                watch instantly on the web at netflix.com from your personal
                computer or on any internet-connected device that offers the
                Netflix app, including smart TVs, smartphones, tablets,
                streaming media players and game consoles.</span
              >
              <br />
              <span
                >You can also download your favourite shows with the iOS,
                Android, or Windows 10 app. Use downloads to watch while you're
                on the go and without an internet connection. Take Netflix with
                you anywhere.</span
              >
            </div>
          </li>
          <li class="faq-list-item">
            <button class="faq-question">
              How do I cancel?
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="thin-x"
                viewBox="0 0 26 26"
                class="svg-icon svg-icon-thin-x svg-closed"
                focusable="true"
                width="26"
                height="26"
              >
                <path
                  d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
            </button>
            <div class="faq-answer closed">
              <span
                >Netflix is flexible. There are no annoying contracts and no
                commitments. You can easily cancel your account online in two
                clicks. There are no cancellation fees – start or stop your
                account anytime.</span
              >
            </div>
          </li>
          <li class="faq-list-item">
            <button class="faq-question">
              What can I watch on Netflix?
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="thin-x"
                viewBox="0 0 26 26"
                class="svg-icon svg-icon-thin-x svg-closed"
                focusable="true"
                width="26"
                height="26"
              >
                <path
                  d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
            </button>
            <div class="faq-answer closed">
              <span
                >Netflix has an extensive library of feature films,
                documentaries, TV shows, anime, award-winning Netflix originals,
                and more. Watch as much as you want, anytime you want.</span
              >
            </div>
          </li>
          <li class="faq-list-item">
            <button class="faq-question">
              Is Netflix good for kids?
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="thin-x"
                viewBox="0 0 26 26"
                class="svg-icon svg-icon-thin-x svg-closed"
                focusable="true"
                width="26"
                height="26"
              >
                <path
                  d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
            </button>
            <div class="faq-answer closed">
              <span
                >The Netflix Kids experience is included in your membership to
                give parents control while kids enjoy family-friendly TV shows
                and films in their own space.</span
              >
              <br />
              <span
                >Kids profiles come with PIN-protected parental controls that
                let you restrict the maturity rating of content kids can watch
                and block specific titles you don’t want kids to see.</span
              >
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section
      class="our-story-card footer our-story-card-no-border"
      style="position: relative"
    >
      <div class="site-footer-wrapper">
        <div class="site-footer">
          <p class="footer-top">
            Questions? Call
            <a class="footer-top-a" href="tel:000-800-919-1694"
              >000-800-919-1694</a
            >
          </p>
          <ul class="footer-links structural">
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>FAQ</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Help Centre</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Account</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Media Centre</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Investor Relations</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Jobs</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Ways to Watch</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Terms of Use</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Privacy</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Cookie Preferences</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Corporate Information</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Contact Us</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Speed Test</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Legal Notices</span></a
              >
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="https://help.netflix.com/en/node/412"
                ><span>Only on Netflix</span></a
              >
            </li>
          </ul>
          <select class="language">
            <option value="/kw/">Hindi</option>
            <option value="/kw-en/">English</option>
          </select>
          <p class="footer-country">Netflix India</p>
        </div>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>
