@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  direction: ltr;
}
* {
  letter-spacing: 0 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header CSS START */
/*HEADER SECTION*/
.showcase.our-story-card {
  width: 100%;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/84526d58-475e-4e6f-9c81-d2d78ddce803/a76c1727-34da-4d80-99a3-69476e78860d/IN-en-20221228-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    no-repeat center center/cover;
  position: relative;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  /* box-shadow: inset 120px 100px 250px, inset -140px -100px 250px #000000; */
}

/*NAV BAR*/
.showcase-top {
  position: relative;
  z-index: 2;
  padding: 26px 0px 0px 55px;
}
/* LOGO */
.showcase-top #logo {
  height: 35px;
}
.showcase-top .submit {
  background-color: #ef0914;
  padding: 5px 16px;
  border: none;
  color: white;
  border-radius: 3px;
  float: right;
  position: relative;
  right: 55px;
}
.showcase-top select {
  background-color: transparent;
  color: white;
  border-radius: 3px;
  float: right;
  position: relative;
  right: 85px;
  padding: 5px 10px;
}
.showcase-top select option {
  color: #000000;
}

/* Get Started */
.showcase .get-started-container {
  z-index: 2;
  position: relative;
  text-align: center;
  top: 180px;
  width: 100%;
}
.showcase .get-started-container h1 {
  color: white;
}
.showcase .get-started-container p {
  color: white;
}
.showcase .get-started-container h1 {
  font-size: 3.9rem;
  padding: 15px;
}
.showcase .get-started-container .para-1 {
  font-size: 1.7rem;
  margin: 17px 17px;
}
.showcase .get-started-container .para-2 {
  font-size: 1.2rem;
  margin: 17px 17px;
}
.showcase .get-started-container input {
  width: 30%;
  padding: 21px;
  border: none;
  margin-top: 0.5%;
  outline: none;
}
.showcase .get-started-container button {
  background-color: #ef0914;
  padding: 21px;
  border: none;
  color: white;
  margin-left: -0.3%;
  font-weight: bold;
  width: 15%;
  font-size: 15px;
}
/* Header CSS END */

a {
  text-decoration: none;
}
ul.structural {
  margin: 0;
  padding: 0;
}
ul.structural > li {
  list-style: none;
  margin-left: 0;
}
ul > li {
  list-style-type: disc;
  margin-bottom: 5px;
  margin-left: 1.1em;
}
ul {
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.our-story-card {
  background: transparent;
  color: white;
  border-bottom: 8px solid #222;
  padding: 50px 5%;
  margin-bottom: 0;
  position: relative;
}
.our-story-card.our-story-card-no-border {
  padding-bottom: 0;
  border-bottom: none;
}
.footer {
  margin: 0 auto;
  max-width: 1000px;
}

.site-footer-wrapper {
  color: #737373;
  margin-top: 80px;
  font-size: 1em;
  min-width: 190px;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
}
.site-footer-wrapper {
  margin-top: 0;
}
.site-footer {
  margin: 0 auto;
  padding-top: 30px;
  width: 90%;
}
.site-footer {
  padding-top: 0;
}
.footer-top {
  margin: 0 0 30px;
  padding: 0;
}
.footer-top-a {
  color: #737373;
}
.footer-top-a:hover {
  border-bottom: 2px solid;
}

.footer-links {
  box-sizing: border-box;
  font-size: 13px;
  max-width: 1000px;
}

.footer-link-item {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 16px;
  min-width: 100px;
  padding: 0 12px 0 0;
  vertical-align: top;
  width: 20%;
}
.footer-link {
  color: #737373;
}
.footer-country {
  font-size: 13px;
  margin-top: 24px;
}
.language {
  color: #8c8c8c;
  background-color: transparent;
  border: 1px solid #333;
  padding: 12px 26px 12px 30px;
  border-radius: 2px;
  margin-top: 15px;
  font-size: 16px;
  text-align: right;
  content: "\e896";
}

/* <===== FAQS ======> */
.faq-card {
  text-align: center;
}
.our-story-card-text {
  font-size: 1.625rem;
  font-weight: 300;
}
.our-story-card-title {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.faq-card .faq-list {
  margin: 2em auto;
  width: 75%;
  max-width: 820px;
}
.faq-card .faq-list-item {
  list-style: none;
  margin: 0 0 8px;
}
.faq-card .faq-question,
.faq-card .faq-answer {
  background-color: #303030;
  display: block;
  text-align: left;
}
.faq-card .faq-question {
  border: 0;
  color: #fff;
  font-size: 1.625rem;
  font-weight: 400;
  margin-bottom: 1px;
  padding: 0.8em 2.2em 0.8em 1.2em;
  position: relative;
  width: 100%;
  cursor: pointer;
}
.faq-card .faq-answer span {
  display: inline-block;
  padding: 1.2em;
}
.faq-card .svg-icon-thin-x {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.faq-card .svg-closed {
  transform: translateY(-50%) rotate(-45deg);
}

.faq-card .faq-answer.closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.faq-card .faq-answer.open {
  max-height: 1200px;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
